@model OilChangeTracker.ViewModels.OilChangeFormViewModel


@{
    /**/

    ViewBag.Title = "Create";
}



<h2>Add an Oil Change</h2>

@using (Html.BeginForm("Create", "OilChanges"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Vehicle)
        @Html.DropDownListFor(m => m.SelectedVehicleId, new SelectList(Model.Vehicles.ToList(), "Id", "Nickname"), " -- Select Vehicle --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Vehicle)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WorkDate)
        @Html.TextBoxFor(m => m.WorkDate, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.WorkDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Mileage)
        @Html.TextBoxFor(m => m.Mileage, new { @class = "form-control", placeholder = (Model.Mileage > 0 ? Model.Mileage.ToString() : ""), Value = "" })
        @Html.ValidationMessageFor(m => m.Mileage)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OilFilterBrand)
        @Html.TextBoxFor(m => m.OilFilterBrand, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OilFilterBrand)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OilFilterModel)
        @Html.TextBoxFor(m => m.OilFilterModel, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OilFilterModel)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OilBrand)
        @Html.TextBoxFor(m => m.OilBrand, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OilBrand)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OilViscosity)
        @Html.TextBoxFor(m => m.OilViscosity, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OilViscosity)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OtherNotes)
        @Html.TextBoxFor(m => m.OtherNotes, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OtherNotes)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $("#SelectedVehicleId").change(function () {
                var id = $(this).val();
                $.getJSON("@Url.Action("UpdateMileage","OilChanges")", { id: id }, function (response) {
                   $("#Mileage").attr("placeholder", response);
                });
            });
        });

    </script>

}

